
services:
  ssppw-sql:
    image: mysql:latest
    ports: 
      - 127.0.0.1:18335:3306
    
    environment:
      MYSQL_ROOT_PASSWORD: deVeloPersecuRity
      MYSQL_DB: ssppw-sql
      MYSQL_TCP_PORT: 3306
    command: --init-file /data/application/init.sql
    volumes:
        - ../backend/services/databases/init.sql:/data/application/init.sql
    container_name: ssppw-sql
    networks:
      - ssppw-default-network

  ssppw-mongo:
    image: mongo:latest
    ports:
      - 127.0.0.1:18336:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: disTrIbutedsEcurIty
    container_name: ssppw-mongo
    networks:
      - ssppw-default-network

  ssppw-pr:
    image: tensorflow/serving
    ports: 
      - 127.0.0.1:18502:8501
    volumes:
      - ../backend/services/models/PredictionModel:/models/PredictionModel
    environment:
      MODEL_NAME: PredictionModel
    container_name: ssppw-pr
    networks:
      - ssppw-default-network

  ssppw-ae:
    image: tensorflow/serving
    ports: 
      - 127.0.0.1:18501:8501
    volumes:
      - ../backend/services/models/AutoEncoderModel:/models/AutoEncoderModel
    environment:
      MODEL_NAME: AutoEncoderModel
    container_name: ssppw-ae
    networks:
      - ssppw-default-network

networks:
  ssppw-default-network:
    name: ssppw-default-network
    external: true
